<div class="page-wrapper side-menu-open">
    <section class="content-header">
        <div class="header-icon">
            <i class="pe-7s-note2"></i>

        </div>
        <div class="header-title">
            <h1>PCB CALCULATOR</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="pe-7s-home"></i>PCB Layout</a></li>
                <li><a href="#">Pcb Calculator</a></li>
                <li class="active">Add Details</li>
            </ol>
        </div>
    </section>
    <div class="container">
        <div class="head-type3 mrgB-15">
            Pcb Calculator
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="row">
                        <label class=" col-sm-5 col-form-label col-form-label-sm">Board X</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control w150" value="Dock Doors Trucks" disabled>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="row">
                      <label class=" col-sm-5 col-form-label col-form-label-sm">Board Y</label>
                      <div class="col-sm-7">
                          <input type="text" class="form-control w150" value="Dock Doors Trucks" disabled>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="row">
                        <label class=" col-sm-5 col-form-label col-form-label-sm">
                            <span class="req">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" value="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="row">
                        <label class=" col-sm-5 col-form-label col-form-label-sm"> Skip Putaway</label>
                        <div class="col-sm-7">
                            <input type="checkbox" value="" form-control>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="head-type3 mrgT-10">Machine Coordinate Information </div>
                <div class="table-wrapper mrgB-15">
                    <table class="table table-type3">
                        <tbody>

                            <tr style="width: 20%;">
                                <th> ( x, y, z ) Coordinates

                                </th>
                                <td style="width: 1%;">
                                    &#123;
                                </td>
                                <td style="width: 10%;">
                                    <input type="text" class="form-control m100">
                                </td>
                                <td style="width: 1%;">
                                    ,
                                </td>
                                <td style="width: 10%;">
                                    <input type="text" class="form-control m100">
                                </td>
                                <td style="width: 1%;">
                                    ,
                                </td>
                                <td style="width: 10%;">
                                    <input type="text" class="form-control m100">
                                </td>
                                <td style="width: 1%;">
                                    &#125;
                                </td>
                                <td style="width: 36%;">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="head-type3 mrgT-15"> Location's Physical Limitations </div>
                <div class="table-wrapper mrgB-15">

                    <table class="table table-type3">
                        <tbody>

                            <tr>
                                <th style="width: 20%">
                                    Weight
                                </th>
                                <td style="width:15%">
                                    <input type="text" class="form-control m100">
                                </td>
                                <td style="width:10%">
                                    <select class="form-control w150">
                                        <option value="" selected>Kilogram</option>
                                        <option value="">meter</option>
                                    </select>
                                </td>
                                <td style="width:10%">

                                </td>

                                <td style="width:15%">

                                </td>
                                <td style="width:30%">

                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Volume
                                </th>
                                <td>
                                    <input type="text" class="form-control m100">
                                </td>
                                <td cols>
                                    <select class="form-control w150">
                                        <option value="" selected>Centimeter</option>
                                        <option value="">meter</option>
                                    </select>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                            </tr>
                            <tr>
                                <th>
                                    Height
                                </th>
                                <td>
                                    <input type="text" class="form-control m100">
                                </td>
                                <td>
                                    <select class="form-control w150">
                                        <option value="" selected>Centimeter</option>
                                        <option value="">meter</option>
                                    </select>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Length
                                </th>
                                <td>
                                    <input type="text" class="form-control m100">
                                </td>
                                <td>
                                    <select class="form-control w150">
                                        <option value="" selected>Centimeter</option>
                                        <option value="">meter</option>
                                    </select>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                            </tr>

                            <tr>
                                <th>
                                    Width
                                </th>
                                <td>
                                    <input type="text" class="form-control m100">
                                </td>
                                <td>
                                    <select class="form-control w150">
                                        <option value="" selected>Centimeter</option>
                                        <option value="">meter</option>
                                    </select>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="m-3">
                <button type="button" class="btn btn-type2"
                    routerLink="/main/warehousing/warehouse-location-list">Cancel
                    <i class="fa fa-times"></i>

                </button>
                <button type="button" class="btn btn-type2">Reset
                    <i class="fa fa-refresh f-11"></i>
                </button>
                <button type="button" class="btn btn-type1">Save
                    <i class="fa fa-floppy-o"></i>
                </button>

            </div>

        </div>

        <!--contact component-->
    </div>

</div>
